
a{
    color: #000;
    text-decoration: none;
    &:hover{
        color: #000;
    }
}
main{
    height: 80vh;
    width: 350px;
    border-right: 1px solid gray;
    h4{
        color: rgb(18, 93, 206);
        border-bottom: 1px solid gray;
    }
    button{
        display: block;
        width: 100%;
        text-align: left;
        background-color: transparent;
        border: none;
        outline: none;
        h6{
            font-weight: bold;
        }
        padding: 10px 30px;
        border-bottom: 1px solid gray;
    }
}