<main>
    <a [routerLink]="['/chat']" routerLinkActive="router-link-active"><h4 class="p-3">Channels</h4></a>
    <button [routerLink]="['/chat/alexa']" routerLinkActive="router-link-active" >
        <h6 >Alexa</h6>
        <!-- <p>{{messaggioA}}</p> -->
    </button>
    <button  [routerLink]="['/chat/leonardo']" routerLinkActive="router-link-active" >
       <h6>Leonardo</h6>
       <!-- <p>{{messaggioL}}</p> -->
    </button>
    <button  [routerLink]="['/chat/lucia']" routerLinkActive="router-link-active" >
        <h6>Lucia</h6>
        <!-- <p>{{messaggioL}}</p> -->
     </button>
    <button [routerLink]="['/']" routerLinkActive="router-link-active" >Torna alla home</button>
    
</main>
